<button [routerLink]="['/home']">home</button>
<button [routerLink]="['/findarecipe']">search recipe</button>
<button [routerLink]="['/savedrecipes']">favourites</button>
<button [routerLink]="['/profile']">profile</button>
<button [routerLink]="['/store']">store</button>
<button type="button" (click)="logOut()">Logout</button>

<br><br>

<div *ngFor="let r of favouriteRecipes; let i = index">
    <img [src]="r.image" alt="">
    <h2>{{r.recipe_name}}</h2>
<table>
    <tbody>
        <tr>
            <td>
                <button (click)="goToSingleFav(r.recipe_id, r.recipe_name, r.calories, r.cuisine, r.image)" style="background-color: blue; color: white;">
                Full Recipe
                </button>
            </td>
        </tr>
        <tr>
            <td>Cusine:</td>
            <td>{{r.cuisine}}</td>
        </tr>
        <tr>
            <td>Calories:</td>
            <td>{{r.calories}}</td>
        </tr>
        <tr>
            <td>Recipe ID:</td>
            <td>{{r.recipe_id}}</td>
        </tr>
        <tr>
            <td>
                <a href="{{r.url}}" target="_blank">More info</a>
            </td>
        </tr>
        <tr>
            <!-- can create delete function later -->
            <button (click)="deleteRecipe(i)" style="background-color: red; color: white;">Delete</button>
        </tr>
        <br>
        <br>
    </tbody>
</table>
</div>