<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="primary">
    <mat-toolbar-row>
     <img src="assets/images/icon2.jpg" alt="" class="icon">
      <span>Food Finder</span>
      <span class="spacer"></span>
      <a mat-button [routerLink]="['/home']"><mat-icon>home</mat-icon>Home</a>
      <span class="spacer"></span>
      
      <a mat-button [routerLink]="['/findarecipe']"><mat-icon>search</mat-icon>Search</a>
      <span class="spacer"></span>
      
      <a mat-button [routerLink]="['/savedrecipes']"> <mat-icon>favorite</mat-icon>Favourites</a>
      <span class="spacer"></span>
      <a mat-button [routerLink]="['/profile']"><mat-icon>group</mat-icon>Profile</a>
      <span class="spacer"></span>
      <a mat-button [routerLink]="['/store']"><mat-icon>phone</mat-icon>Contact</a>
      <span class="flexExpand"></span>
      <button mat-raised-button color="accent" type="button" (click)="logOut()">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>

<br><br>

<div *ngFor="let r of favouriteRecipes; let i = index">
    <img [src]="r.image" alt="">
    <h2>{{r.recipe_name}}</h2>
<table>
    <tbody>
        <tr>
            <td>
                <button (click)="goToSingleFav(r.recipe_id, r.recipe_name, r.calories, r.cuisine, r.image)" style="background-color: blue; color: white;">
                Full Recipe
                </button>
            </td>
        </tr>
        <tr>
            <td>Cusine:</td>
            <td>{{r.cuisine}}</td>
        </tr>
        <tr>
            <td>Calories:</td>
            <td>{{r.calories}}</td>
        </tr>
        <tr>
            <td>Recipe ID:</td>
            <td>{{r.recipe_id}}</td>
        </tr>
        <tr>
            <td>
                <a href="{{r.url}}" target="_blank">More info</a>
            </td>
        </tr>
        <tr>
            <!-- can create delete function later -->
            <button (click)="deleteRecipe(i)" style="background-color: red; color: white;">Delete</button>
        </tr>
        <br>
        <br>
    </tbody>
</table>
</div>