<button [routerLink]="['/home']">home</button>
<button [routerLink]="['/findarecipe']">search recipe</button>
<button [routerLink]="['/savedrecipes']">favourites</button>
<button [routerLink]="['/profile']">profile</button>
<button [routerLink]="['/store']">store</button>
<button type="button" (click)="logOut()">Logout</button>
<br><br>

<form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <!-- <input type="text" formControlName="cuisine"> -->
    <select type="text" formControlName="cuisine">
        <option value="" disabled selected>Select your Cuisine!</option>
                <option value="African">African</option>
                <option value="American">American</option>
                <option value="British">British</option>
                <option value="Cajun">Cajun</option>
                <option value="Carribean">Carribean</option>
                <option value="Eastern European">Eastern European</option>
                <option value="European">European</option>
                <option value="French">French</option>
                <option value="German">German</option>
                <option value="Greek">Greek</option>
                <option value="Indian">Indian</option>
                <option value="Irish">Irish</option>
                <option value="Italian">Italian</option>
                <option value="Jewish">Jewish</option>
                <option value="Korean">Korean</option>
                <option value="Latin American">Latin American</option>
                <option value="Mediterranean">Mediterranean</option>
                <option value="Mexican">Mexican</option>
                <option value="Middle Eastern">Middle Eastern</option>
                <option value="Nordic">Nordic</option>
                <option value="Southern">Southern</option>
                <option value="Spanish">Spanish</option>
                <option value="Thai">Thai</option>
                <option value="Vietnamese">Vietnamese</option>
      </select>
    <input type="number" min="200" max="3000" formControlName="calories" placeholder="calories">
    <button type="submit">search</button>
</form>

<br>

<h2>{{recipeReceived.recipe_name}}</h2>
    <table>
        <tr>
            <td>
                <img [src]="recipeReceived.image" alt="">
            </td>
        </tr>
        <tr>
            <td>
                Calories: {{recipeReceived.calories}}
            </td>
        </tr>
        <tr>
            <td>
                Cuisine: {{recipeReceived.cuisine}}
            </td>
        </tr>
        <tr>
            <td>
                Recipe ID: {{recipeReceived.recipe_id}}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{recipeReceived.url}}" target="_blank">{{recipeReceived.url}}</a>
            </td>
        </tr>
        <tr>
            <td>
                Ingredients: {{recipeReceived.ingredients}}
            </td>
        </tr>
        <tr>
            <td> 
                <ul>
                    <li *ngFor="let s of recipeReceived.steps; let i = index"> {{i+1}}: {{s}}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="saveRecipeTwo()" style="background-color: lightgreen; ">Save Recipe</button>
            </td>
        </tr>
        <tr>
            <td>
                {{savedStatus || null}}
            </td>
        </tr>
    </table>


