.flexExpand {
    flex: 1 1 auto;
}
.spacer {
    flex: 0.1;
  }
.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    transform: scale(0.8);
}
.navbar {
    background-color: #3f51b5;
}


.container {
    width: 100%;
    max-width: 650px; 
    padding: 20px;
    border: 5px solid #1976d2;
    border-radius: 30px;
    display: flex; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
    box-shadow: 5px 5px 10px lightblue;
    font-family: monospace;
    margin-bottom: 30px;
    background-color: rgb(220, 242, 250);
  }


  .search-button {
    --c: #72a0f0; 
  }
  
  .save-button {
    --c: #8bc3f7; 
  }

  button {
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
