<button [routerLink]="['/home']">home</button>
<button [routerLink]="['/findarecipe']">search recipe</button>
<button [routerLink]="['/savedrecipes']">favourites</button>
<button [routerLink]="['/profile']">profile</button>
<button [routerLink]="['/store']">store</button>
<button type="button" (click)="logOut()">Logout</button>
<p>searchrecipe works!</p>
<h1>{{userLogged}}</h1>

<form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <input type="text" formControlName="cuisine">
    <input type="text" formControlName="calories">
    <button type="submit">search</button>
</form>

<br>

    <table>
        <tr>
            <td>
                {{recipeReceived.recipe_id}}
            </td>
        </tr>
        <tr>
            <td>
                {{recipeReceived.recipe_name}}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{recipeReceived.url}}" target="_blank">{{recipeReceived.url}}</a>
            </td>
        </tr>
        <tr>
            <td>
                {{recipeReceived.image}}
            </td>
        </tr>
        <tr>
            <td>
                <img [src]="recipeReceived.image" alt="">
            </td>
        </tr>
        <tr>
            <td>
                {{recipeReceived.calories}}
            </td>
        </tr>
        <tr>
            <td>
                {{recipeReceived.cuisine}}
            </td>
        </tr>
        <tr>
            <td>
                <!-- create (click)=saveRecipe() method in component ts -->
                <button (click)="saveRecipe(recipeReceived.recipe_id, 
                                            recipeReceived.recipe_name,
                                            recipeReceived.url,
                                            recipeReceived.image,
                                            recipeReceived.calories)">Save Recipe</button> 
            </td>
        </tr>
        <tr>
            <td>
                {{savedStatus || null}}
            </td>
        </tr>
    </table>

<br>
<br>


<button type="button" (click)="logOut()">Logout</button>
<br>

