<h1>Welcome to the Signup Page</h1>

    <form [formGroup]="signupForm" (ngSubmit)="submitForm()">
        <table>

            <tr>
                <td>
                    <input type="text" placeholder="enter username" formControlName="username"> 
                </td>
            </tr>
            <tr>
                <td  *ngIf="username && username.invalid && username.touched"> 
                        this input is invalid
                </td>
            </tr>

            <tr>
                <td>
                    <input type="password" placeholder="enter password" formControlName="password">
                    
                </td>
            </tr>
            <tr>
                <td *ngIf="password && password.invalid && password.touched"> 
                    password input is invalid - e.g. should have 8 characters and a 1 special character     
                </td>
            </tr>

            <tr>
                <td>
                    <input type="password" placeholder="re-enter password" formControlName="passwordAgain">               
                </td>
            </tr>
            <tr>
                <td *ngIf="passwordAgain && passwordAgain.invalid && passwordAgain.touched"> 
                    password do not matchhhhhh
                </td>
            </tr>
        </table>
        <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
        <button type="submit" [disabled]="signupForm.invalid" mat-raised-button extended color="accent">Sign up</button>
    </form>

    <br>
    <br>

    <div>
        <p>Already have an account? 
            <button mat-raised-button color="primary" [routerLink]="['/']" >Login here!</button>
        </p>

        <button mat-fab extended [routerLink]="['/']">
            Home
          </button>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <h2>Example Buttons</h2>
        <p>
            <button mat-fab extended color="accent" [routerLink]="['/']">
                <mat-icon>favorite</mat-icon>
                Naother hoem
            </button>

            <button mat-fab extended color="warn">
                <mat-icon>favorite</mat-icon>
                Warn
            </button>

            <button mat-fab extended color="accent">
                <mat-icon>favorite</mat-icon>
                Accent
            </button>

            <button mat-fab extended color="primary">
                <mat-icon>favorite</mat-icon>
                Primary
            </button>
            
            <button mat-fab extended color="link">
                <mat-icon>favorite</mat-icon>
                Link
            </button>
          </p>
    </div>
          
          
