<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
crossorigin=""></script> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
   <img src="assets/images/icon2.jpg" alt="" class="icon">
    <span>Food Finder</span>
    <span class="spacer"></span>
    <a mat-button [routerLink]="['/home']"><mat-icon>home</mat-icon>Home</a>
    <span class="spacer"></span>
    
    <a mat-button [routerLink]="['/findarecipe']"><mat-icon>search</mat-icon>Search</a>
    <span class="spacer"></span>
    
    <a mat-button [routerLink]="['/savedrecipes']"> <mat-icon>favorite</mat-icon>Favourites</a>
    <span class="spacer"></span>
    <a mat-button [routerLink]="['/profile']"><mat-icon>group</mat-icon>Profile</a>
    <span class="spacer"></span>
    <a mat-button [routerLink]="['/store']"><mat-icon>phone</mat-icon>Contact</a>
    <span class="flexExpand"></span>
    <button mat-raised-button color="accent" type="button" (click)="logOut()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>


<br><br><br><br><br>
<div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
    <p>Address: NUS-ISS</p>
    <p>Postal Code: 123456</p>
    <p>Contact No.: 98765432</p>
    <p>Email: foodfinderapp0@gmail.com</p>
  </div>
