<button [routerLink]="['/home']">home</button>
<button [routerLink]="['/findarecipe']">search recipe</button>
<button [routerLink]="['/savedrecipes']">favourites</button>
<button [routerLink]="['/profile']">profile</button>
<button [routerLink]="['/store']">store</button>
<button type="button" (click)="logOut()">Logout</button>
<p>userprofile works!</p>

<h1>Profile Details</h1>

<button (click)="edit()">Edit</button>
<form [formGroup]="editProfileForm" (ngSubmit)="submitForm()">
    <table>
        <tbody>
            <!-- for some reason i need to have this hidden field in my code that includes a 
            formControlName, otherwise the value of the first form field wont show up...??? -->
            <tr hidden>
                <td><input type="text" formControlName="blank" value="Nothing Here"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" formControlName="email"></td>
            </tr>
            <tr>
                <td>Full Name:</td>
                <td><input type="text" formControlName="full_name"></td>
            </tr>
            <tr>
                <td>Contact No.:</td>
                <td><input type="text" formControlName="contact_number"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" formControlName="address"></td>
            </tr>
            <tr>
                <td>Postal Code:</td>
                <td><input type="text" formControlName="postal_code"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" [disabled]="toEdit">submit updated details</button></td>
            </tr>
        </tbody>
    </table>
</form>



<!-- create edit profile functionality -->
