<button [routerLink]="['/home']">home</button>
<button [routerLink]="['/findarecipe']">search recipe</button>
<button [routerLink]="['/savedrecipes']">favourites</button>
<button [routerLink]="['/profile']">profile</button>
<button [routerLink]="['/store']">store</button>
<button type="button" (click)="logOut()">Logout</button>
<p>userhome works!</p>

<p>wooo you managed to login i guess</p>


<h1>{{emailLogged}}</h1>

<!-- logout button that will reset the localStorage user -->
<!-- links to other pages like search recipe page/ favourite page/ profile page/ forum page-->


<br>
