<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="primary">
    <mat-toolbar-row>
     <img src="assets/images/icon2.jpg" alt="" class="icon">
      <span>Food Finder</span>
      <span class="spacer"></span>
      <a mat-button [routerLink]="['/home']"><mat-icon>home</mat-icon>Home</a>
      <span class="spacer"></span>
      
      <a mat-button [routerLink]="['/findarecipe']"><mat-icon>search</mat-icon>Search</a>
      <span class="spacer"></span>
      
      <a mat-button [routerLink]="['/savedrecipes']"> <mat-icon>favorite</mat-icon>Favourites</a>
      <span class="spacer"></span>
      <a mat-button [routerLink]="['/profile']"><mat-icon>group</mat-icon>Profile</a>
      <span class="spacer"></span>
      <a mat-button [routerLink]="['/store']"><mat-icon>phone</mat-icon>Contact</a>
      <span class="flexExpand"></span>
      <button mat-raised-button color="accent" type="button" (click)="logOut()">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>
<p>userprofile works!</p>

<h1>Profile Details</h1>

<button (click)="edit()">Edit</button>
<form [formGroup]="editProfileForm" (ngSubmit)="submitForm()">
    <table>
        <tbody>
            <!-- for some reason i need to have this hidden field in my code that includes a 
            formControlName, otherwise the value of the first form field wont show up...??? -->
            <tr hidden>
                <td><input type="text" formControlName="blank" value="Nothing Here"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" formControlName="email"></td>
            </tr>
            <tr>
                <td>Full Name:</td>
                <td><input type="text" formControlName="full_name"></td>
            </tr>
            <tr>
                <td>Contact No.:</td>
                <td><input type="text" formControlName="contact_number"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" formControlName="address"></td>
            </tr>
            <tr>
                <td>Postal Code:</td>
                <td><input type="text" formControlName="postal_code"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" [disabled]="toEdit">submit updated details</button></td>
            </tr>
        </tbody>
    </table>
</form>



<!-- create edit profile functionality -->
